#particlesObtained {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 1cm;
    font-family: sans-serif;
}

#getParticlesButton {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
}





button {
  padding: 10px 20px;
  background-color: #163317;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.03);
}

button:active {
  transform: scale(0.97);
  background-color: #3e8e41;
}

input[type=range] {
  appearance: none;  
  -webkit-appearance: none;
  -moz-appearance: none;  
  width: 200px;
  height: 8px;
  background: #ddd;
  border-radius: 4px;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

input[type=range]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}